@font-face {
  font-family: standard;
  src: url(Standard-master/standard-book.otf);
}

.container {
  font-family: standard;
  font-size: 5vw;
  padding: 10px 35px 10px 35px;
  text-align: left;
  position: relative; /* Ensure text stays above the GIF */
  z-index: 1; /* Ensure text stays above the GIF */
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: white;
  background-color: black;
}

.container a:hover {
  background-color: black;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    font-size: 3vw;
    padding: 10px 15px 10px 15px;
  }
}

/* Centered GIF */
.centered-gif {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0; /* Ensure the GIF is behind other content */
}

/* Hover effect */
.hover-effect:hover {
  color: black;
  background-color: black;
}

.hover-effect:hover + .centered-gif {
  opacity: 0; /* Hide GIF on hover */
}
