a {
  text-decoration: underline;
}

.email-line-break {
  display: none; /* Hide the email line break */
}

body {
  /* Set background image */
  background-image: url('original_2145ec3e8893a8f88f57880f9d55f48e.gif');
  /* Center and scale background image */
  background-position: center;
  background-size: cover;
  /* Set background color to black */
  background-color: black;
  /* Ensure the background color is behind other content */
  position: relative;
}

/* Create an overlay that covers the entire page */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Set overlay color to black */
  opacity: 0; /* Initially invisible */
}
